body {
  font-family: sans-serif;
  font-size: 0.9em;
}
a {
  text-decoration: none;
}
a.disabled {
  text-decoration: none;
  color: black;
  cursor: default;
}
.thumb {
    display: block;
    height: 200px;
    overflow: hidden;
    width: 230px;
}

ul, li { list-style: none; margin: 0px; padding: 0px; }

.item {
  width: 230px;
  margin: 10px;
  font-size: 1em;
  height: 300px;
  display: inline;
  float: left;
  border: 1px solid #dfdfdf;
}
.details {
  text-align: center;
  padding: 5px;
}

.grid .item a,
.grid .item img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

